body {
    background: #0D1117;
    color: #9ba3b4;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-container-fix{
    background-color: rgba(0,0,0,0);
    height: 75px;
}

.navbar-container{
    font-size: 16px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    width: 1320px;
    margin-left: auto;
    margin-right: auto;
}

.navbar-brand{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #c3d0e5;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 19px;
}

.navbar-link{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #9ba3b4;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 15px;
    padding-top: 19px;
}

.navbar-logo{
    width: 20px;
}